a:hover{
    cursor: pointer;
}

.jumbotron {
    background-color: rgba(227, 227, 227, .5);
    margin-top: 10px;
    border-radius: 2%;
}

.row {
    margin-bottom: 5px;
}

._col > .card:hover {
    cursor: pointer;
    background-color: rgba(95, 158, 160, .3);
}